.section__locations{
    background-image: url("../imagens/café.jpg");
    margin: auto;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 500px;
    width: 1200px;

}
.location {
    display: flex;
    gap: 40px;
    padding: 25px;
}

.location__titulo{
    color: seashell;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    display: flex;
}

.location__info{
    background-color: black;
    color: seashell;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0px 30px 0px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    opacity: 1.0;
}

    

