.section__locations{
    background-image: url("../imagens/café.jpg");
    background-repeat: no-repeat;
    height: 600px; 
    width: 1200px;
    margin: auto;
     display: grid;
     grid-template-rows: auto auto;
    margin-top: 200px;

}
.location {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.location__titulo{
    color: seashell;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-self: center;
    
}

.location__info{
    background-color: black;
    width: 300px;
    height: 300px;
    color: seashell;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 130px;
}

    

