.section__locations{
    background-image: url("../imagens/café.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    
    justify-content: center;
    align-items: center;
    margin-top: 200px;

}
.location {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

}

.location__titulo{
    color: seashell;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.location__info{
    background-color: black;
    width: 300px;
    height: 300px;
    color: seashell;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    opacity: 1;
}
.location__info2{
    background-color: black;
    width: 300px;
    height: 300px;
    color: seashell;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    opacity: 1;
}
.location__info3{
    background-color: black;
    width: 300px;
    height: 300px;
    color: seashell;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    opacity: 1;
}

    

